@media (max-width: 994px) {
    
    .user-dashboard-heading {
        margin: 0;
    }
    
    .user-dashboard-heading h1::after {
        content: '';
        height: 3px;
        width: 100px;
        display: block;
        background: #fff;
        margin: 0 auto 0 auto;
    }
    
    .user-dashboard-nav {
        display: block;
    }

    #collapse-dashboard {
        height: 0;
        overflow: hidden;
        transition: height 250ms, .3s ease-in-out;
    }

    #collapse-dashboard.active {
        height: 145px;
        transition: height 250ms, .3s ease-in-out;
    }

    .user-dashboard-left,
    .user-dashboard-right {
        padding: 0;
        margin-top: 30px;
    }

    .user-dashboard-info,
    .user-dashboard-options,
    .user-dashboard-right-box {
        margin: 0 0 30px;
    }
    
    .user-dashboard-right-field > button {
        top: -36px;
    }

}